/autostart
/btop
/Code
/dconf
/microsoft-edge
/fcitx
/fcitx5
/google-chrome
/gtk-3.0
/gtk-4.0
/ibus
/lutris
/menus
/microsoft-edge
/nautilus
/nvim
/procps
/pulse
/TabNine
/Thunar
/xfce4
/yay
0
QtProject.conf
pavucontrol.ini
mimeapps.list
