configuration{
    modi: "drun,window,filebrowser,keys,emoji";
    lines: 5;
    font: "Meslo LGLDZ Nerd Font 13";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰵆  Apps ";
    display-window: " 󱂬  Window";
    display-filebrowser:"  Files";
    display-keys:"   Keybinds";
    display-emoji:"󰞅  Emoji";
    sidebar-mode: true;
}

@theme "tokyo-night"
